{% extends "base.html" %} {% block title %}El Punto Crítico{% endblock %} {%
block content %}
<div class="container">
  {% for post in posts %}
  <div class="story">
    {% if post.image_filename %}
    <div class="story-image">
      <img
        src="{{ url_for('static', filename='images/' + post.image_filename) }}"
        alt="Imagen del post"
      />
    </div>
    {% endif %}
    <div class="story-content">
      <div class="title">
        <a href="{{ url_for('views.article', id=post.id) }}"
          >{{ post.title }}</a
        >
      </div>
      <div class="description">{{ post.content[:300]|safe }}...</div>
      <div class="meta">Escrito por: Manuel Rodríguez</div>
      <div class="meta">{{ post.date.strftime('%Y-%m-%d %H:%M') }}</div>
    </div>
  </div>
  {% endfor %} {% endblock %}
</div>
